@import url('https://fonts.googleapis.com/css?family=Righteous:400');

html {
  font-size: 100%;
} /*16px*/


body {
  background: white !important;
  font-family: 'Righteous', sans-serif !important;
  font-weight: 300 !important;
  color: rgba(25, 109, 0, 0.979) !important;
}

footer {
  background-color: rgba(250, 250, 240, 0.911) !important;
}

a {
  color:rgba(248, 120, 0, 0.801) !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Righteous', sans-serif !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 4.209rem !important;
}

h2 {font-size: 3.157rem !important;}

h3 {font-size: 2.369rem !important;}

h4 {font-size: 1.777rem !important;}

h5 {font-size: 1.333rem !important;}

small, .text_small {font-size: 0.75rem !important;}



i  {
  color:rgba(248, 120, 0, 0.801) !important;
} 

button {
  background-color: #f89232 !important;
  color: rgba(250, 250, 240, 0.986) !important;
}

/* Background from cards */ 

.bg-light-yellow {
  background-color: rgba(250, 250, 240, 0.911);
}

/* Subscribe Section */

#subscribe {
  background-image: url("./subscribe4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subs-row {
  background-color: rgba(250, 250, 240, 0.911);
  width: auto;
}

/* Why section */

.cards-adv {
  min-height: 20rem;
  background-color: rgba(255, 255, 255, 0.979) !important;

}

 #btn-pricing {

  width: 7rem;


}

#bsktSm {
  height: 5rem;
}
#bsktMd {
  height: 7.5rem;
}
#bsktBg {
  height: 10rem;
}
